<h1>Available Projects</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
    </tr>
  <% end %>
</table>

<% if current_user and user_is_teacher %>
    <%= link_to 'New Project', new_project_path %>
<% end %>