// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-cards{
}
.project-card{
    padding: 1px 15px;
    margin: 10px 0px;
    background: #E7E7E7;
    border-bottom: 2px solid #bbb;
    height: 100px;
}
