<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="info">
          Projects That Work<br>
          <%= mail_to "metze@cua.edu" %>
        </p>
      </div>
      <div class="col-sm-6">
        <div class="ctc-info">
          <span class="ctc-text">
            Designed and<br>
            created by
          </span>
          <span class="ctc-image">
            <a href="http://berkeley.codethechange.org/" target="_blank">
              <%= image_tag "code-the-change-web-logo.png" %>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>